ORACLE_HOST=127.0.0.1
ORACLE_PORT=1521
ORACLE_SERVICE=FREEPDB1
ORACLE_USER=BANQUETES_CATHERINE
ORACLE_PASSWORD=Catherine2026

FLASK_HOST=127.0.0.1
FLASK_PORT=5000
FLASK_SECRET_KEY=banquetes-catherine-demo

